region           = ""
vpc_cidr_block   = ""
vpc_subnet_block = []
project               = ""
image_tag             = ""
application_name      = ""
container_port        = ""
acm_cert_domain       = "example.com"
min_capacity          = ""
max_capacity          = ""
log_retention_in_days = 